h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.button {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 1px #9e9e9e;
}

.button:after {
    content: "";
    background: #e0e0e0;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.button:hover {
    box-shadow: 4px 4px 4px #9e9e9e;
}

.button-red {
    background-color: #d32f2f;
}

.button-pink {
    background-color: #c2185b;
}

.button-purple {
    background-color: #7b1fa2;
}

.button-dark_purple {
    background-color: #512da8;
}

.button-indigo {
    background-color: #303f9f;
}

.button-blue {
    background-color: #1675d1;
}

.button-sky_blue {
    background-color: #0288d1;
}

.button-cyan {
    background-color: #0097a7;
}

.button-teal {
    background-color: #00796b;
}

.button-green {
    background-color: #388e3c;
}

.button-light_green {
    background-color: #689f38;
}

.button-lime {
    background-color: #afb42b;
}

.button-yellow {
    background-color: #fbc02d;
}

.button-amber {
    background-color: #ffa000;
}

.button-orange {
    background-color: #f57c00;
}

.button-dark_orange {
    background-color: #e64a19;
}

.button-brown {
    background-color: #5d4037;
}

.button-gray {
    background-color: #616161;
}

.button-blue_gray {
    background-color: #455a64;
}

.button-black {
    background-color: #212121;
}

.button-white {
    background-color: #e0e0e0;
    color: #212121;
}

.button-red::after {
    background: #ef9a9a;
}

.button-pink::after {
    background: #f48fb1;
}

.button-purple::after {
    background: #ce93d8;
}

.button-deep_purple::after {
    background: #b39ddb;
}

.button-indigo::after {
    background: #9fa8da;
}

.button-blue::after {
    background: #90caf9;
}

.button-sky_blue::after {
    background: #81d4fa;
}

.button-cyan::after {
    background: #80deea;
}

.button-teal::after {
    background: #80cbc4;
}

.button-green::after {
    background: #a5d6a7;
}

.button-light_green::after {
    background: #c5e1a5;
}

.button-lime::after {
    background: #e6ee9c;
}

.button-yellow::after {
    background: #fff59d;
}

.button-amber::after {
    background: #ffe082 ;
}

.button-orange::after {
    background: #ffcc80;
}

.button-dark_orange::after {
    background: #ffab91;
}

.button-brown::after {
    background: #bcaaa4;
}

.button-gray::after {
    background: #eeeeee;
}

.button-blue_gray::after {
    background: #b0bec5;
}

.button-black::after {
    background-color: #616161;
}

.button-white::after {
    background: #f5f5f5;
}
.fab {
    border-radius: 500px;
    box-shadow: 1px 1px 1px #9e9e9e;
}

.button-inv {
    background-color: #f5f5f5;

}

.button-red-inv {
    border: 1px solid #d32f2f;
    color: #d32f2f;
}

.button-pink-inv {
    border: 1px solid #c2185b;
    color: #c2185b;
}

.button-purple-inv {
    border: 1px solid #7b1fa2;
    color: #7b1fa2;
}

.button-dark_purple-inv {
    border: 1px solid #512da8;
    color: #512da8;
}

.button-indigo-inv {
    border: 1px solid #303f9f;
    color: #303f9f;
}

.button-blue-inv {
    border: 1px solid #1675d1;
    color: #1675d1;
}

.button-sky_blue-inv {
    border: 1px solid #0288d1;
    color: #0288d1;
}

.button-cyan-inv {
    border: 1px solid #0097a7;
    color: #0097a7;
}

.button-teal-inv {
    border: 1px solid #00796b;
    color: #00796b;
}

.button-green-inv {
    border: 1px solid #388e3c;
    color: #388e3c;
}

.button-light_green-inv {
    border: 1px solid #689f38;
    color: #689f38;
}

.button-lime-inv {
    border: 1px solid #afb42b;
    color: #afb42b;
}

.button-yellow-inv {
    border: 1px solid #fbc02d;
    color: #fbc02d;
}

.button-amber-inv {
    border: 1px solid #ffa000;
    color: #ffa000;
}

.button-orange-inv {
    border: 1px solid #f57c00;
    color: #f57c00;
}

.button-dark_orange-inv {
    border: 1px solid #e64a19;
    color: #e64a19;
}

.button-brown-inv {
    border: 1px solid #5d4037;
    color: #5d4037;
}

.button-gray-inv {
    border: 1px solid #616161;
    color: #616161;
}

.button-blue_gray-inv {
    border: 1px solid #455a64;
    color: #455a64;
}

.button-black-inv {
    border: 1px solid #212121;
    color: #212121;
}

.button-red-inv:hover {
    background: #d32f2f;
    color: #f5f5f5;
}

.button-pink-inv:hover {
    background: #c2185b;
    color: #f5f5f5;
}

.button-purple-inv:hover {
    background: #7b1fa2;
    color: #f5f5f5;
}

.button-dark_purple-inv:hover {
    background: #512da8;
    color: #f5f5f5;
}

.button-indigo-inv:hover {
    background: #303f9f;
    color: #f5f5f5;
}

.button-blue-inv:hover {
    background: #1976d2;
    color: #f5f5f5;
}

.button-sky_blue-inv:hover {
    background: #0288d1;
    color: #f5f5f5;
}

.button-cyan-inv:hover {
    background: #0097a7;
    color: #f5f5f5;
}

.button-teal-inv:hover {
    background: #00796b;
    color: #f5f5f5;
}

.button-green-inv:hover {
    background: #388e3c;
    color: #f5f5f5;
}

.button-light_green-inv:hover {
    background: #689f38;
    color: #f5f5f5;
}

.button-lime-inv:hover {
    background: #afb42b;
    color: #f5f5f5;
}

.button-yellow-inv:hover {
    background: #fbc02d;
    color: #f5f5f5;
}

.button-amber-inv:hover {
    background: #ffa000;
    color: #f5f5f5;
}

.button-orange-inv:hover {
    background: #f57c00;
    color: #f5f5f5;
}

.button-dark_orange-inv:hover {
    background: #e64a19;
    color: #f5f5f5;
}

.button-brown-inv:hover {
    background: #5d4037;
    color: #f5f5f5;
}

.button-gray-inv:hover {
    background: #616161;
    color: #f5f5f5;
}

.button-blue_gray-inv:hover {
    background: #455a64;
    color: #f5f5f5;
}

.button-black-inv:hover {
    background: #212121;
    color: #f5f5f5;
}

.link-md {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 4px;
    border-radius: 3px;    
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-bgdark:hover {
    background-color: #bdbdbd;
}

.hover-duo:hover {
    background-color: #bdbdbd;
    text-decoration: underline;
}

.vmd-cbox-lbl {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.vmd-cbox-lbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tick {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fafafa;
    border-radius: 3px;
}

.vmd-cbox-lbl:hover input ~ .tick {
    background-color: #c7c7c7;
}
  
.tick:after {
    content: "";
    position: absolute;
    display: none;
}

.vmd-cbox-lbl input:checked ~ .tick:after {
    display: block;
}

.vmd-cbox-lbl .tick:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fafafa;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.cbox-red input:checked ~ .tick {
    background-color: #d32f2f;
}

.cbox-pink input:checked ~ .tick {
    background-color: #c2185b;
}

.cbox-purple input:checked ~ .tick {
    background-color: #7b1fa2;
}

.cbox-dark_purple input:checked ~ .tick {
    background-color: #512da8;
}

.cbox-indigo input:checked ~ .tick {
    background-color: #303f9f;
}

.cbox-blue input:checked ~ .tick {
    background-color: #1976d2;
}

.cbox-light_blue input:checked ~ .tick {
    background-color: #0288d1;
}

.cbox-cyan input:checked ~ .tick {
    background-color: #0097a7;
}

.cbox-teal input:checked ~ .tick {
    background-color: #00796b;
}

.cbox-green input:checked ~ .tick {
    background-color: #388e3c;
}

.cbox-light_green input:checked ~ .tick {
    background-color: #689f38;
}

.cbox-lime input:checked ~ .tick {
    background-color: #afb42b;
}

.cbox-yellow input:checked ~ .tick {
    background-color: #fbc02d;
}

.cbox-amber input:checked ~ .tick {
    background-color: #ffa000;
}

.cbox-orange input:checked ~ .tick {
    background-color: #f57c00;
}

.cbox-dark_orange input:checked ~ .tick {
    background-color: #e64a19;
}

.cbox-brown input:checked ~ .tick {
    background-color: #5d4037;
}

.cbox-gray input:checked ~ .tick {
    background-color: #616161;
}

.cbox-blue_gray input:checked ~ .tick {
    background-color: #455a64;
}

.cbox-black input:checked ~ .tick {
    background-color: #212121;
}

.rounded {
    border-radius: 20px;
}

.vmd-rbtn-lbl {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.vmd-rbtn-lbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-tick {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.vmd-rbtn-lbl:hover input ~ .radio-tick {
    background-color: #aeaeae;
}


.vmd-rbtn-lbl input:checked ~ .radio-tick {
    background-color: #2196F3;
}

.radio-tick:after {
    content: "";
    position: absolute;
    display: none;
}

.vmd-rbtn-lbl input:checked ~ .radio-tick:after {
    display: block;
}

.vmd-rbtn-lbl .radio-tick:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fafafa;
}


.rbtn-red input:checked ~ .radio-tick {
    background-color: #d32f2f;
}

.rbtn-pink input:checked ~ .radio-tick {
    background-color: #c2185b;
}

.rbtn-purple input:checked ~ .radio-tick {
    background-color: #7b1fa2;
}

.rbtn-dark_purple input:checked ~ .radio-tick {
    background-color: #512da8;
}

.rbtn-indigo input:checked ~ .radio-tick {
    background-color: #303f9f;
}

.rbtn-blue input:checked ~ .radio-tick {
    background-color: #1976d2;
}

.rbtn-light_blue input:checked ~ .radio-tick {
    background-color: #0288d1;
}

.rbtn-cyan input:checked ~ .radio-tick {
    background-color: #0097a7;
}

.rbtn-teal input:checked ~ .radio-tick {
    background-color: #00796b;
}

.rbtn-green input:checked ~ .radio-tick {
    background-color: #388e3c;
}

.rbtn-light_green input:checked ~ .radio-tick {
    background-color: #689f38;
}

.rbtn-lime input:checked ~ .radio-tick {
    background-color: #afb42b;
}

.rbtn-yellow input:checked ~ .radio-tick {
    background-color: #fbc02d;
}

.rbtn-amber input:checked ~ .radio-tick {
    background-color: #ffa000;
}

.rbtn-orange input:checked ~ .radio-tick {
    background-color: #f57c00;
}

.rbtn-dark_orange input:checked ~ .radio-tick {
    background-color: #e64a19;
}

.rbtn-brown input:checked ~ .radio-tick {
    background-color: #5d4037;
}

.rbtn-gray input:checked ~ .radio-tick {
    background-color: #616161;
}

.rbtn-blue_gray input:checked ~ .radio-tick {
    background-color: #455a64;
}

.rbtn-black input:checked ~ .radio-tick {
    background-color: #212121;
}

.vmd-toggle-lbl {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
}

.vmd-toggle-lbl input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fafafa;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #2196F3;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.toggle-slider.round {
    border-radius: 34px;
}
  
.toggle-slider.round:before {
    border-radius: 50%;
}

input:checked + .toggle-red {
    background-color: #d32f2f;
}

input:focus + .toggle-red {
    box-shadow: 0 0 1px #d32f2f;
}

input:checked + .toggle-pink {
    background-color: #c2185b;
}

input:focus + .toggle-pink {
    box-shadow: 0 0 1px #c2185b;
}

input:checked + .toggle-purple {
    background-color: #7b1fa2;
}

input:focus + .toggle-purple {
    box-shadow: 0 0 1px #7b1fa2;
}

input:checked + .toggle-dark_purple {
    background-color: #512da8;
}

input:focus + .toggle-dark_purple {
    box-shadow: 0 0 1px #512da8;
}

input:checked + .toggle-indigo {
    background-color: #303f9f;
}

input:focus + .toggle-indigo {
    box-shadow: 0 0 1px #303f9f;
}

input:checked + .toggle-blue {
    background-color: #1976d2;
}

input:focus + .toggle-blue {
    box-shadow: 0 0 1px #1976d2;
}

input:checked + .toggle-light_blue {
    background-color: #0288d1;
}

input:focus + .toggle-light_blue {
    box-shadow: 0 0 1px #0288d1;
}

input:checked + .toggle-cyan {
    background-color: #0097a7;
}

input:focus + .toggle-cyan {
    box-shadow: 0 0 1px #0097a7;
}

input:checked + .toggle-teal {
    background-color: #00796b;
}

input:focus + .toggle-teal {
    box-shadow: 0 0 1px #00796b;
}
input:checked + .toggle-green {
    background-color: #388e3c;
}

input:focus + .toggle-green {
    box-shadow: 0 0 1px #388e3c;
}

input:checked + .toggle-light_green {
    background-color: #689f38;
}

input:focus + .toggle-light_green {
    box-shadow: 0 0 1px #689f38;
}

input:checked + .toggle-lime {
    background-color: #afb42b;
}

input:focus + .toggle-lime {
    box-shadow: 0 0 1px #afb42b;
}

input:checked + .toggle-yellow {
    background-color: #fbc02d;
}

input:focus + .toggle-yellow {
    box-shadow: 0 0 1px #fbc02d;
}

input:checked + .toggle-amber {
    background-color: #ffa000;
}

input:focus + .toggle-amber {
    box-shadow: 0 0 1px #ffa000;
}

input:checked + .toggle-orange {
    background-color: #f57c00;
}

input:focus + .toggle-orange {
    box-shadow: 0 0 1px #f57c00;
}

input:checked + .toggle-dark_orange {
    background-color: #e64a19;
}

input:focus + .toggle-dark_orange {
    box-shadow: 0 0 1px #e64a19;
}

input:checked + .toggle-brown {
    background-color: #5d4037;
}

input:focus + .toggle-brown {
    box-shadow: 0 0 1px #5d4037;
}

input:checked + .toggle-gray {
    background-color: #616161;
}

input:focus + .toggle-gray {
    box-shadow: 0 0 1px #616161;
}

input:checked + .toggle-blue_gray {
    background-color: #455a64;
}

input:focus + .toggle-blue_gray {
    box-shadow: 0 0 1px #455a64;
}

input:checked + .toggle-black {
    background-color: #212121;
}

input:focus + .toggle-black {
    box-shadow: 0 0 1px #212121;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 1x #9e9e9e;
}

.fa:after {
    content: "";
    background: #e0e0e0;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
 
.fa:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.fa:hover {
    box-shadow: 4px 4px 4px #9e9e9e;
}

.fa-facebook {
    background: #3B5998;
    color: white
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}
  
.fa-pinterest {
    background: #cb2027;
    color: white;
}
  
.fa-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
.fa-skype {
    background: #00aff0;
    color: white;
}
  
.fa-android {
    background: #a4c639;
    color: white;
}
  
.fa-tumblr {
    background: #2c4762;
    color: white;
}
  
.fa-vine {
    background: #00b489;
    color: white;
}
  
.fa-soundcloud {
    background: #ff5500;
    color: white;
}
  
.fa-reddit {
    background: #ff5700;
    color: white;
}

.social-round {
    border-radius: 300px;
    width: 30px;
} 

/* Cards Start Here */
.card {
    box-shadow: 2px 2px 10px #9e9e9e;
    transition: 0.3s;   
    height: 500px;
    width: 350px;
    margin: 10px;     
}

.card-header {
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
}

.card:hover {
    box-shadow: 4px 4px 20px #9e9e9e;
}

.card-container {
    padding: 7px;
}

.card-container p {
    padding-bottom: 25px;
    border-bottom: 1px solid #bdbdbd;
}

.card-img {
    width: 100%;
}

.squircle-img-card {
    border-radius: 5px;
}

.squircle-img {
    border-radius: 5px 5px 0 0; 
}

.normal-card {
    height: 325px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    perspective: 1000px;
    box-shadow: 0px 0px 0px 0px;
}

.flip-card:hover {
    box-shadow: 0px 0px 0px 0px;
}

.flip-card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-container {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-color: #ffffff;
    color: white;
    transform: rotateY(180deg);
}


.flip-card-container, .flip-card-img {
    height: 250px;
}

.bgcolor-red {
    background-color: #d32f2f;
}

.bgcolor-blue {
    background-color: #1976d2;
}

.bgcolor-yellow {
    background-color: #fbc02d;
}

.bgcolor-orange {
    background-color: #f57c00;
}

.bgcolor-green {
    background-color: #388e3c;
}

.bgcolor-pink {
    background-color: #c2185b;
}

.bgcolor-purple {
    background-color: #7b1fa2;
}

.bgcolor-black {
    background-color: #212121;
}

.profile-card-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
    background-color: transparent;
}

.profile-card-btn:hover, .profile-link:hover {
    opacity: 0.7;
}